
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --cor1: #FF902A;
    --cor2: #db7c22;
    --cor3: #2F2105;
    --cor4: #5e430d;
    --cor5: #F9D9AA;
    --cor6: #F7EBDA;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
}

.background {
    background-image: url("images/background1.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    height: 150px;
    display: flex;
    justify-content: center;
}

.container {
    height: inherit;
    width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container img.logo {
    height: 25%;
}

.container ul {
    list-style: none;
    display: flex;
}

.container a {
    color: black;
    margin: 0px 20px;
    font-size: 23px;
}

.container a:hover {
    color: var(--cor1);
}

.right-side input { /* ver se está certo colocar a imagem desse jeito | pesquisar "imagem dentro do input" | */
    padding: 15px 0px 15px 40px;
    border-radius: 30px;
    background-image: url("images/search.svg");
    background-repeat: no-repeat;
    background-position: 10px center;
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.356);
    
}

.right-side input::placeholder {
    font-size: 15px;
}

.right-side img {
    height: 40px;
    text-align: center;
    vertical-align: middle;
}

main {
    width: 100%;
    height: 1000px; /* height: 100vh;  */
    display: flex;
    justify-content: center;
}

.contents {
    width: 1500px;
}

.contents h2 {
    font-size: 45px;
    font-weight: 600;
}

.contents h2 span{
    border-bottom: 5px solid var(--cor1);
}

.space { /* espaço que todos os sections vão ter um do outro */
    margin-top: 150px;
}

/* .apresentation {
    margin-top: 130px;
} */ 

.apresentation h2 {
    width: 650px;
    font-size: 65px;
    color: var(--cor3);
    font-weight: 600;
}

.apresentation strong {
    color: var(--cor1);
    font-weight: inherit;
}

.apresentation p {
    width: 550px;
    margin-top: 30px;
    font-size: 25px;
    color: gray;
}

.order-apresentation {
    width: 550px;
}

.order-apresentation button {
    background-color: var(--cor3);
    background-image: url("images/cart2.svg");
    background-repeat: no-repeat;
    background-position: 150px center; 
    background-size: 30px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    padding: 15px 65px 15px 30px;
    border-radius: 30px;
    margin-top: 30px;
}

.order-apresentation button:hover {
    background-color: var(--cor4);
    cursor: pointer;
}

.order-apresentation a {
    color: var(--cor1);
    font-weight: 700;
    margin-left: 60px;
}

.order-apresentation a:hover {
    color: var(--cor2);
}

.box-grid-cafe {
    display: flex;
    justify-content: center;
    margin-top: 60px;

    /* fundo popular now, se der problemas tirar */
    background-color: var(--cor5); 
    border-radius: 30px;
    padding: 50px 30px;
}

.grid-cafe {
    width: 1400px;
    display: flex;
    border-radius: 30px;
}

.cafe {
    display: flex;
    background-color: white;
    border-radius: 20px;
    flex: 1;
    height: 430px;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.2);
}

.cafe:last-child {
    margin: 0;
}

.cafe-contents {
    height: 90%;
    width: 90%;
}

.cafe-photo {
    height: 275.4px;
    width: 100%;
}

.cafe-photo img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.rating {
    display: flex;
    align-items: center;
    position: relative;
    width: 50px;
    top: -270px; /* top: 1040px; */ /* top: 109vh */
    left: 15px; /* left: 290px; */ /* left: 7vw; */
    background-color: white;
    padding: 5px 15px;
    border-radius: 20px;
    color: var(--cor3);
    font-size: 18px;
    font-weight: 700;
}

.rating img {
    height: 20px;
    width: 20px;
    margin-left: 5px;
}

/* Grid */

.cafe-desc {
    height: 83px; /* height: 22%; */
    display: grid;
    
    grid-template-areas: 
    "item1 item1 item1 item2 item2"
    "item3 item4 item4 item5 item5"
    ;
    padding: 10px;
    align-items: center;
    font-weight: 600;
}

.cafe-name.item1 {
    grid-area: item1;
    font-size: 30px;
    color: var(--cor3);
}

.cafe-views.item2 {
    grid-area: item2;
    font-size: 30px;
    color: var(--cor3);
    font-weight: bold;
    text-align: center;
}

.cafe-type1.item3 {
    grid-area: item3;
    font-size: 20px;
    color: #ff912aaf;
}

.cafe-type1.item3 span {
    border: 3px solid #ff912aaf;
    background-color: white;
    border-radius: 10px;
    padding: 3px 15px;
}

.cafe-type1.item3 span:hover {
    border: 3px solid var(--cor1);
    color: var(--cor1);
    cursor: pointer;
}

.cafe-type2.item4 {
    grid-area: item4;
    font-size: 20px;
    color: var(--cor1);
    color: #ff912aaf;
}

.cafe-type2.item4 span {
    border: 3px solid #ff912aaf;
    background-color: white;
    border-radius: 10px;
    padding: 3px 15px;
}

.cafe-type2.item4 span:hover {
    border: 3px solid var(--cor1);
    color: var(--cor1);
    cursor: pointer;
}

.cafe-cart.item5 {
    display: grid;
    justify-content: center;
    grid-area: item5;
}

.cafe-cart.item5 img {
    height: 50px;
    width: 50px;
}

.howto {
}

.howto-grid {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.howto-contents {
    
}

.howto-photo {
    display: flex;
    justify-content: center;
}

.howto-photo img {
    height: 200px;
    width: 200px;
}

.howto-desc {
    text-align: center;
}

.howto-desc .up{
    color: var(--cor3);
    font-size: 30px;
    font-weight: 600;
    margin-top: 15px;
}

.howto-desc .down{
    font-size: 23px;
    font-weight: 400;
    padding: 8px;
}

.aboutus {
    display: flex;
    margin-top: 300px;
}

.background-abouthus {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-image: url("images/background2.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutus-photo {
    height: 100%;
    width: 450px;       
}

.aboutus-photo img {
    height: inherit;
    width: inherit;
    position: relative;
    bottom: 130px;
    border: 10px solid white;
    border-radius: 30px;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.200);
}

.aboutus-contents {
    width: 500px;
}

.aboutus-contents h2 {
    margin-top: 80px;
}

.aboutus-contents p.up {
    margin-top: 30px;
    font-size: 30px;
    font-weight: 600;
}

.aboutus-contents p.down {
    margin-top: 30px;
    font-size: 20px;
    color: gray;
}

.aboutus-contents button {
    background-color: var(--cor3);
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 600;
    color: #ffb42a;
    cursor: pointer;
    margin-top: 30px;
}

.specialmenu-grids {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
}

.specialmenu-grid {
    margin: 30px;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
}

.specialmenu-contents {
}

.specialmenu-photo img {
    border-radius: 10px;
    width: 400px;
    height: 294px;
}

.rating2 {
    display: flex;
    align-items: center;
    position: relative;
    width: 50px;
    top: -290px;
    left: 15px;
    background-color: white;
    padding: 5px 15px;
    border-radius: 20px;
    color: var(--cor3);
    font-size: 18px;
    font-weight: 700;
}

.rating2 img {
    height: 20px;
    width: 20px;
    margin-left: 5px;
}


.specialmenu-desc {
   display: grid;
   grid-template-areas: 
   "item1 item2"
   "item3 item4"
   ;
   margin-top: -30px;
}


.specialmenu-cafe-name.item1 {
    grid-area: item1;
    font-size: 30px;
    color: var(--cor3);
    font-weight: 600;
}
.specialmenu-cafe-views.item2 {
    grid-area: item2;
    font-size: 30px;
    color: var(--cor3);
    font-weight: bold;
    text-align: center;
}
.specialmenu-cafe-desc.item3 {
    grid-area: item3;
    color: gray;
    font-weight: 600;
    width: 80%;
}
.specialmenu-cafe-cart.item4 {
    grid-area: item4;
    display: grid;
    justify-content: center;
    cursor: pointer;
}

.clients-comments {
    height: 600px;
    /* width: 85%; */
    background-image: url("images/background2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px; 
}

.clients-comments-contents {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    /* flex-direction: row;
    flex: 1; */
}

.clients-comments-text {
    margin-left: 200px;
}

.clients-comments-clients {
    display: flex;
    height: 370px;
}

.clients-comments-clients-box {
    /* width: 250px; */
    height: 350px;
    margin-left: 100px;
}

.clients-box-photo {
    height: inherit;
    border: 8px solid var(--cor5);
}

.clients-box-photo img {
    width: inherit;
    height: inherit;
}

.clients-box-review {
    width: 100%;
    height: 30%;
    position: relative;
    top: -150px;
    left: 50px;
    background-color: #FAC97F;
    box-shadow: 0px 0px 0px 10px #fac97f9f;
    border-radius: 10px;
    padding: 10px;
}

.clients-box-review strong {
    font-size: 25px;
    font-weight: 500;
    color: var(--cor3);
}

.clients-box-review p {
    font-size: 18px;
    font-weight: 400;
    color: var(--cor3);
}

footer {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .background-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("images/footer.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
}

footer p {
    color: white;
    font-size: 45px;
    font-weight: 600;
    padding: 20px;
}

form {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form input[type=email] {
    
    padding: 20px;
    border-radius: 30px;
    font-size: 20px;
    color: black;
    font-weight: 600;
}

form input[type=submit]{
    width: 25%;
    background-color: var(--cor3);
    padding: 15px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    position: relative;
    top: -63.5px;
    left: 73%;
}

/* 

.background-footer p {
    color: white;
    font-size: 45px;
    font-weight: 600;
    padding: 20px;
}

.background-footer input[type=email] {
    width: 40%;
    padding: 20px;
    border-radius: 30px;
    font-size: 20px;
    color: black;
    font-weight: 600;
}

.background-footer input[type=submit]{
    background-color: var(--cor3);
    padding: 15px 40px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    position: relative;
    top: -63.5px;
    left: 220px;
}

*/

/* talvez devo fazer com flex para que o Hot e o Cold fiquem bem alinhado com a borda (e para que tudo fique alinha exatamento como no exemplo) */

/* tudo está alinhado pelo content que tem 1500px, talvez para deixar a imagem na largura toda, eu tenha que definir cada section com o width de 1500px e quando não quiser, posso tirar */

/* colocar um google maps no final */