@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

body {
    
    height: 100vh; /* 98.3 */
    font-family: 'Poppins', sans-serif;
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 98.3 */
}

.fundo {
    background-color: white;
    height: 37.5rem; /* height: 600px; */
    width: 56.25rem; /* width: 900px; */
    display: flex;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 1px 1px 50px 15px rgba(0, 0, 0, 0.233);
}

.esquerda {
    /* background-color: white; */
    height: 100%;
    width: 50%;
}

.esquerda-conteudo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.esquerda-conteudo h1 {
    font-size: 3vw; /* font-size: 30px; */
    line-height: 50px;
    padding: 20px;
    text-align: center;
    color: #8507c0;
}

.esquerda-conteudo input {
    padding: 13px;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 1px 15px 70px 10px rgb(0 0 0 / 19%);
    font-size: 15px;
    margin-top: 20px;
}

.esquerda-conteudo .botao {
    width: 100%;
    background-color: #A205EA;
    color: white;
    font-size: 23px;
    border: 2px solid #A205EA;
    transition: all 0.3s;
}

.esquerda-conteudo .botao:hover {
    background-color: white;
    color: #A205EA;
    border: 2px solid #A205EA;
    transition: all 0.3s;
}


@media (max-width: 610px) { /* mudar o layout */
    .fundo {
        border-radius: 0px;
        width: 20rem;
    }
    .esquerda {
        width: 56.25rem;
    }
    .esquerda-conteudo h1 {
        font-size: 40px;
    }
    .direita {
        display: none;
    }
}

/* @media (max-width: 365px) {
    .esquerda-conteudo h1 {
        font-size: 8vw;
    }
    .esquerda-conteudo input {
        font-size: 4vw;
    }
} */

/* tentar usar o minímo possível de media query, tentar deixar tudo mais responsivo usando pocentagens!!! */
/* aumentar o tamanho dos botões */
/* verificar o pixel 725 */