@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --cor1: #FF902A;
    --cor2: #db7c22;
    --cor3: #2F2105;
    --cor4: #5e430d;
    --cor5: #F9D9AA;
    --cor6: #F7EBDA;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 20px;
}

#background {
    background-image: url("images/background1A.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    justify-content: center;
}

.container {
    width: 1500px;
    margin: 50px 1rem;
}

header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header li {
    list-style: none;
}

.header-left img {
    width: 180px;
    vertical-align: middle;
}

.header-center, .header-right {
    display: flex;
}

.header-center li {
    margin-right: 40px;
}

.header-center li:last-child, .header-right li:last-child {
    margin-right: 0;
}

.header-center a {
    color: black;
    font-size: 1.2rem;
}

.header-center a:hover {
    color: var(--cor1);
}

.header-right li {
    margin-right: 20px;
}

.header-right input {
    background-image: url("images/search.png");
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 1rem;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    font-size: 0.8rem;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.212);
}

.header-right img {
    width: 2rem;
    text-align: center;
}

#button-mobile {
    display: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--cor3);
    color: white;
}

#button-mobile:hover {
    background-color: var(--cor4);
}

.contents { /* alinha dentro do container */
    display: flex;
    justify-content: center;
}

.apresentation .container {
    margin-top: 0;
}

.apresentation p.up {
    font-size: 65px;
    width: 660px; /* 33rem */
    font-weight: 600;
    color: var(--cor3);
    margin-bottom: 30px;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.212);
}

.apresentation span {
    color: var(--cor1);
}

.apresentation p.down {
    font-size: 25px;
    width: 600px;
    color: gray;
    margin-bottom: 30px;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.apresentation .button {
    background-color: var(--cor3);
    background-image: url("images/cart2.svg");
    background-repeat: no-repeat;
    background-position: 143px center;
    background-size: 30px;
    color: white;
    padding: 15px 60px 15px 30px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    margin-right: 50px;
}

.apresentation .button:hover {
    background-color: var(--cor4);
}

.apresentation a {
    color: var(--cor1);
    font-weight: 700;
}

.apresentation a:hover {
    color: var(--cor2);
}

.popular-now h2 {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 50px;
}

span.orange {
    border-bottom: 5px solid orange;
}

.margin-lateral { /* TESTE */
    margin: 0px 30px;
}

.popular-now .box-photos {
    background-color: var(--cor5);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box-photo {
    background-color: white;
    padding: 20px 20px 0px 20px;
    border-radius: 20px;
    margin: 10px;
}

.coffee-photo img {
    width: 380px; /* 310px  15.4rem*/
    border-radius: 20px;
}

.rating {
    width: 51px;
    background-color: white;
    padding: 0px 10px;
    border-radius: 20px;
    color: black;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    top: -370px; /* 320 -16rem*/
    right: -15px; /* 15  -0.75rem*/
}

.rating img {
    width: 18px;
    vertical-align: middle;
    margin-bottom: 3px;
}

.desc {
    display: grid;
    gap: 5px;
    grid-template-areas: 
        "coffee-name coffee-name coffee-name coffee-name coffee-name coffee-name coffee-name coffee-name coffee-name coffee-view"
        "coffee-type coffee-type coffee-type coffee-type coffee-type coffee-type coffee-type coffee-type coffee-type coffee-cart"
    ;
}

.coffee-name {
    grid-area: coffee-name;
    font-size: 28px; /* 1.4rem */
    font-weight: 600;
}
.coffee-view {
    grid-area: coffee-view;
    font-size: 28px;
    font-weight: 600;
}
.coffee-type {
    grid-area: coffee-type;
    font-weight: 600;
    align-items: center;
}
.coffee-cart {
    grid-area: coffee-cart;
}

.coffee-type {
    display: flex;
}
.coffee-type-hot span{
    margin-right: 15px;
    background-color: white;
    border: 3px solid #ff912aaf;
    border-radius: 10px;
    color: #ff912aaf;
    font-size: 20px;
    padding: 1px 5px;
}
.coffee-type-hot span:hover{
    border: 3px solid var(--cor1);
    color: var(--cor1);
    cursor: pointer;
}
.coffee-type-cold span {
    background-color: white;
    border: 3px solid #ff912aaf;
    border-radius: 10px;
    color: #ff912aaf;
    font-size: 20px;
    padding: 1px 5px;
}
.coffee-type-cold span:hover{
    border: 3px solid var(--cor1);
    color: var(--cor1);
    cursor: pointer;
}

.coffee-cart img {
    vertical-align: middle;
    width: 50px;
}

@media (max-width: 1175px) {
    html {
        font-size: 18px;
    }
    #background {
        background-image: url("images/background1B.svg");
    }
}

@media (max-width: 1000px) {
    html {
        font-size: 15px;
    }
}

@media (max-width: 920px) {
    .header-center {
        display: none; 
        flex-direction: column;
    }
    .header-right {
        display: none;
    }
    #button-mobile {
        display: inline;
        margin-right: 20px;
    }
    /* .container {
        margin: 40px 0px 25px 0px;
    } */



    /* POPULAR NOW */

    /* criei isso aqui \/ porque o rating estava saindo do eixo, tentar deixar no eixo certo para não precisar usar isso aqui */
    /* .rating {
        top: -16rem;
        right: -0.75rem;
    }
    .coffee-photo img {
        width: 15.4rem;
    }
    .coffee-name {
        font-size: 1.4rem;
    }
    .coffee-view {
        font-size: 1.4rem;
    }
    .coffee-type-hot span{
        font-size: 1rem;
        padding: 0.05rem 0.25rem;
    }
    .coffee-type-cold span {
        font-size: 1rem;
        padding: 0.05rem 0.25rem;
    }
    .coffee-cart img {
        vertical-align: middle;
        width: 2.5rem;
    }
    .rating {
        width: 3.2rem;
        padding: 0px 0.5rem;
        font-size: 1.2rem;
    }
    .rating img {
        width: 0.9rem;
    } */
}

@media (max-width: 775px) {
    html {
        font-size: 16px;
    }
    
    .apresentation p.up {
        font-size: 3.25rem;
        width: 33rem;
    }
    .apresentation p.down {
        width: 30rem;
    }
}

@media (max-width: 560px) { /* teste, aumenta o fundo */
    .apresentation p.up {
        font-size: 3.25rem;
        width: 90vw;
    }
    .apresentation p.down {
        width: 90vw;
    }
    .container {
        margin: 50px 0px;
    }
    .margin-lateral {
        margin: 0;
    }

    .popular-now .box-photos {
        border-radius: 0;
    }

    .rating {
        /* width: 3.2rem;
        padding: 0px 0.5rem;
        font-size: 1.2rem; */
        top: -37vh;
    }

    .rating img {
        width: 1rem;
    }
    
    .coffee-photo img {
        width: 310px;
    }
}

/* Colocar rem apenas nos elementos que vão logo ser alterados, os que forem demorar muito para ser alterado colocar me px */
