@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    font-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: center;
}

header .container {
    width: 990px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    list-style: none;
}

header li {
    display: inline;
}

header li a {
    text-decoration: none;
    color: #727272;
    padding: 10px;
}

header li a:hover {
    color: white;
    background-color: #39aae1;
    padding: 10px;
}

section {
    display: flex;
    justify-content: center;
}

.banner {
    background-image: url("images/img1.jpg");
    background-size: cover;
    height: 610px; /* min-height: 610px; */
}

.container {
    width: 990px;
    display: flex; /* deixar flex ou não? */
    flex-wrap: wrap;
}

.banner-titulo {
    width: 400px;
    color: white;
    text-shadow: 2px 2px 5px black;
    margin-left: 20px;
}

.banner-titulo h1 {
    font-size: 70px;
    margin-top: 80px;
}

.banner-titulo p {
    font-size: 20px;
    margin-top: 30px;
}

.banner-caixas {
    height: 210px;
    display: flex;
    /* justify-content: flex-end;
    align-items: flex-end; */
    margin-top: 80px;
    color: white;
}

.banner-caixas h2 {
    font-size: 25px;
    font-weight: normal;
}

.banner-caixas p {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.banner-caixas a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 5px;
}


.caixa1 {
    background-color: #39AAE1;
    padding: 20px;
    flex: 1;
}


.caixa2 {
    background-color: #0079E7;
    padding: 20px;
    flex: 1;
}


.caixa3 {
    background-color: #2B4C99;
    padding: 20px;
    flex: 1;
}

.caixa3 .horarios {
    display: flex;
    flex-direction: 1;
    margin: 0;
    margin-top: 20px;
}

.caixa3 .dia {
    flex: 1;
}

.caixa3 .dia p {
    font-size: 16px;
    margin: 0;
    margin-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ffffff31;
    
}

.caixa3 .hora {
}

.caixa3 .hora p {
    font-size: 16px;
    margin: 0;
    margin-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ffffff31;
}

main {
    display: flex;
    justify-content: center;
}

main .container {
    width: 990px;
    height: 100vh; /*  */
}

.ultimas-noticias {
    font-size: 20px;
    font-weight: bold;
}